
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.container {
  background: rgba(22, 22, 37, 0.9);
  border: 2px solid var(--primary);
  border-radius: 15px;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.2);
}

.title {
  color: var(--primary);
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 204, 0, 0.3);
  padding-bottom: 10px;
}

.field {
  margin-bottom: 1.2rem;
}

.label {
  display: block;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 70%;
  background-color: var(--border);
  border-radius: 15px;
  color: var(--text-main);
  padding: 0.8rem;
  outline: none;
  font-family: inherit;
}

.input:focus {
  border-color: var(--primary);
}

.previewContainer {
  margin: 15px 0;
  text-align: center;
}
.screenshotImg {
  width: 300px;
  max-height: 150px;
  object-fit: contain;
  aspect-ratio: 4/3;
  border: 2px solid #444;
  border-radius: 4px;
  background: #000;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn {
  background: var(--primary); 
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  cursor: pointer;
}

.save {
  background-color: var(--primary);
  color: #000000;
}

.save:hover{
  background: var(--text-main);
  box-shadow: 0 0 20px var(--primary);
}

.cancel {
  background-color: var(--secondary);
  color: var(--text-main);
}

.cancel:hover {
  background: var(--text-main);
  box-shadow: 0 0 20px var(--secondary);
  color: var(--bg-dark);
}