.hero {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 3rem;
  background-color: #000;
  border: 1px solid var(--border);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--bg-dark) 20%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
}


.badge {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: var(--secondary);
  color: var(--text-main);
  box-shadow: 0 0 1rem var(--text-main);
  padding: 0.4rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 1rem;
}


.title {
  font-size: 3.5rem;
  margin: 0;
  color: var(--primary);
  text-transform: uppercase;
}

.stats {
  background: var(--secondary);
  color: var(--text-main);
  box-shadow: 0 0 1rem var(--text-main);
  padding: 0.4rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 1rem;
  align-self: center;
}

.playBtn {
  background: var(--primary);
  color: var(--bg-dark);
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
  transition: var(--transition);
}

.playBtn:hover {
  background: var(--text-main);
  color: var(--text-dark);
  box-shadow: 0 0 20px var(--primary);
}


@media (max-width: 768px) {

  .hero {
    height: 300px;
  }

  .overlay {
    padding: 0 1rem;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 20%, transparent 100%);
    align-items: center; 
    text-align: center; 
  }

  .badge {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%); /* Centramos el badge de plataforma */
    font-size: 0.8rem;
  }

  .title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .stats{
    font-size: 0.8rem;
    width: auto;
  }

  .playBtn{
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
  }
}
