.skeleton {
  background: var(--bg-card);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

/* La animación de brillo */
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.05),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Formas específicas */
.card {
  width: 100%;
  aspect-ratio: 3/4;
}

.text {
  height: 1rem;
  margin-top: 10px;
  width: 80%;
}

.button {
  height: 30px;
  margin-top: 15px;
  width: 100%;
}