.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 80px;
  line-height: 1.7;
  color: var(--text-main);
}

.container p {
  text-align: justify;
  margin-left: 1rem;
}

.title {
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title span { color: var(--primary); }

.section {
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.02);
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 255, 204, 0.1);
}

.section h2 { color: var(--text-main); margin-bottom: 15px; font-size: 1.6rem; border-bottom: 1px solid var(--border); padding-bottom: 10px; }
.section h3 { color: var(--primary); margin: 20px 1rem 10px; font-size: 1.2rem; text-align: start;}
.section p { margin-bottom: 15px; text-align: justify;}
.section ul { margin-left: 20px; margin-bottom: 15px; list-style-type: square; }
.section li { margin-bottom: 8px; text-align: start; }