.relatedContainer {
  margin-top: 3rem;
  width: 100%;
  padding: 0 1rem;
  max-width: 100vw;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  color: var(--text-main);
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0 0 20px rgba(255, 0, 85, 0.5);
  margin-bottom: 1.5rem;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 1.5rem; /* Espacio para la barra de scroll */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
}

.carousel::-webkit-scrollbar {
 height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.cardWrapper {
  flex: 0 0 auto; 
  width: 220px;
}

@media (max-width: 600px) {

  .title { font-size: 1.5rem; }

}