.relatedContainer {
  margin-top: 1rem;
  width: 100%;
  padding: 0 1rem;
  max-width: 100vw;
  overflow: hidden;
}

.title {
  font-size: 1.8rem;
  color: var(--primary);
  text-shadow: 3px 3px var(--secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: start;
}

.carousel {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 1.5rem; /* Espacio para la barra de scroll */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
}

.carousel::-webkit-scrollbar {
 height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.cardWrapper {
  flex: 0 0 auto; 
  width: 200px;
}

@media (max-width: 600px) {

  .title { 
    font-size: 1.2rem;
    text-align: center;
  }

}