.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: var(--bg-dark);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid var(--primary);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-main);
  letter-spacing: 2px;
  flex: 1;
}

.logo span {
  color: var(--primary);
  text-shadow: 0 0 10px var(--secondary);
}

.menu {
    display: flex;
    flex: 2;
    gap: 2rem;
    align-items: center;
    width: 100%;
    justify-content: right;
}

.navLink {
  color: var(--text-main);
  text-decoration: none;
  font-size: 1.2rem;
  transition: var(--transition);
  font-weight: bold;
}

.navLink:hover {
  color: var(--primary);
  text-shadow: 0 0 20px var(--text-main);
}

.badge {
  background: #333;
  color: var(--primary);
  font-size: 0.7rem;
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 10px;
}

.linkDisabled {
  color: #666;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.5;
  user-select: none;
}

@media (max-width: 600px) {
  .navLinks {
    display: flex;
    gap: 10px;
    font-size: 0.7rem;
  }

  .logo {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 1rem;
  }

  .container{
        flex-wrap: wrap;
  }
}