.section {
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

.header h2 {
  font-size: 1.8rem;
  color: var(--primary);
  text-shadow: 3px 3px var(--secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gameRowFooter {
  display: flex;
  align-content: center;
  justify-content: end;
  margin-top: 1rem;
}

.viewAll {
  color: var(--primary);
  text-shadow: 3px 3px var(--secondary);
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9rem;
  transition: var(--transition);
}

.viewAll:hover {
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 600px) {

  .header h2 {
    font-size: 1.2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    display: grid;
  }
  
  .section {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .grid > div { 
    max-width: 280px; 
    margin: 0 auto;
    width: 100%;
  }
}