.card {
  background: var(--bg-card);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  position: relative;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  background: var(--text-dark);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.platformBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--primary);
  opacity: 0.9;
  color: var(--text-dark);
  font-size: 0.7rem;
  font-weight: var(--font-weight);
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}

.displayRating {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--secondary);
  opacity: 0.9;
  color: var(--text-main);
  font-size: 0.7em;
  font-weight: var(--font-weight);
  padding: 2px 6px;
  border-radius: 4px;

}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 0.95rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #888;
}

.playBtn {
  margin-top: 0.5rem;
  background-color: var(--primary);
  color: var(--text-dark);
  padding: 0.4rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: var(--font-weight);
  font-size: 0.8rem;
  transition: var(--transition);
}

.playBtn:hover {
  background: var(--text-main);
  box-shadow: 0 0 20px var(--primary);
}