.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--text-main);
}

.header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0 0 20px rgba(255, 0, 85, 0.5); /* Brillo neón */
}

.platform {
  color: var(--primary);
  letter-spacing: 4px;
  font-weight: bold;
}

/* El Grid Principal */
.mainLayout {
  display: grid;
  grid-template-columns: 1fr 380px; /* Emulador grande | Info compacta */
  gap: 2rem;
  margin-bottom: 3rem;
}

.emulatorWrapper {
  background: #000;
  border-radius: 20px;
  border: 3px solid var(--border);
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  aspect-ratio: 16 / 9; /* Proporción de cine */
  overflow: hidden;
}

/* Sidebar Estilo "Card" */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.infoCard {
  background: rgba(22, 22, 37, 0.8);
  backdrop-filter: blur(10px); /* Efecto cristal */
  padding: 1.5rem;
  border-radius: 15px;
  border: 1px solid var(--border);
}

.descriptionBox {
  grid-column: 1 / -1; /* Ocupa todo el ancho abajo */
  background: var(--bg-card);
  padding: 2rem;
  border-radius: 15px;
  line-height: 1.8;
}

.heroBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.3); /* Fondo desenfocado y oscuro */
  z-index: -1; /* Detrás de todo */
}

.btnScoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 9999;
}

.btnSCore {
  background: var(--primary); 
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

.btnSCore:hover{
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 20px #ffcc00;
  
}

.tooltipContainer {
  position: relative;
  display: inline-block;
  cursor: help;
}

.helpIcon {
  background: var(--primary); /* Color de fondo del circulito */
  color: var(--text-dark);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.tooltipText {
  visibility: hidden;
  width: 200px;
  background-color: var(--bg-dark);
  color: var(--text-main);
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  pointer-events: none; 
  box-shadow: 0px 4px 10px var(--text-dark)
}

.tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltipContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1100px) {
  .mainLayout { grid-template-columns: 1fr; }
  .title { font-size: 2.5rem; }
}

@media (max-width: 600px) {

  .title { font-size: 2rem; }

  .emulatorWrapper {
    width: 95%;
    height: 95%;
    margin-left: 0.5rem;
  }

  .descriptionBox{
    width: 95%;
    margin-left: 0.5rem;
    text-align: justify;
  }
}