.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem 2rem;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 10000;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  animation: slideIn 0.3s ease-out forwards;
}

.success {
  border: 2px solid var(--primary);
  background: var(--primary);
  color: var(--text-dark);
  box-shadow: 0 0 20px var(--text-main)
}

.error {
  border: 2px solid var(--secondary);
  background: var(--secondary);
  opacity: 0.9;
  color: var(--text-main);
  box-shadow: 0 0 20px var(--text-main)
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.closeBtn {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  line-height: 1;
}

.icon {
  font-size: 1.2rem;
}